<h3>Update Cours</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Course Name</label>
      <input type="text" class="form-control" id="cours_nom" required [(ngModel)]="cours.cours_nom" name="cours_nom">
    </div>
    <div class="form-group">
        <label for="name">Course Description</label>
        <input type="text" class="form-control" id="cours_description" required [(ngModel)]="cours.cours_description" name="cours_description">
    </div>

   

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>