<div mat-dialog-content>
    Pick a reaction
<ul>
    
    <li>
    <span *ngIf="data.animal === 'Like'"></span> <img (click)="react('LIKE')" width="64px" height="64px" src="/assets/reactions_icons/like.png">
    </li>
    <li>
        <span *ngIf="data.animal === 'Love'"></span> <img (click)="react('LOVE')" width="64px" height="64px" src="/assets/reactions_icons/love.png">
        </li>
    <li>
    <span *ngIf="data.animal === 'Haha'"></span> <img (click)="react('HAHA')" width="64px" height="64px" src="/assets/reactions_icons/haha.png">
    </li>
    <li>
    <span *ngIf="data.animal === 'Crying'"></span> <img (click)="react('CRYING')" width="64px" height="64px" src="/assets/reactions_icons/sad.png">
    </li>
</ul>
    <div *ngIf="done">Reaction sent !</div>
</div>
